.cart{
    margin-top: 100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: white;
    font-size: max(1vw, 12px);
}
.cart-items-item{
    margin: 10px 0px;
    color: white;
}
.cart-items-item img{
    width: 50px;
}
.cart hr{
    height: 3px;
    background-color: #00ccbc;
    border: none;
    border-radius: 3px;
}
.cart-items-item .cross{
    cursor: pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.cart-total hr{
    margin: 10px 0px;
}
.cart-total button{
    border: none;
    color: white;
    background-color: white;
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    color: #00ccbc;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s;
}
.cart-total button:hover{
    background-color: #00ccbc;
    color: white;
    transition: all 0.3s;
}
.cart-promocode{
    flex: 1;
}
.cart-promocode p{
    color: #fff;
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}
.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #000000;
}
.cart-promocode-input button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: white;
    border: 1px solid #00ccbc;
    color: #000000;
    border-radius: 0px 4px 4px 0px; 
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
.cart-promocode-input button:hover{
    background-color: #00ccbc;
    color: white;
    border: 1px solid white;
    transition: all 0.3s;
}
@media (max-width:750px) {
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
}