.my-orders{
    margin: 50px 0px;
}
.my-orders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: white;
    border: 1px solid cyan;
}
.my-orders-order img{
    width: 50px;
}
.my-orders-order p span{
    color: cyan;
}
.my-orders-order p b{
    font-weight: 500;
}
.my-orders-order button{
    border: 3px solid cyan;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
}

@media (max-width: 900px) {
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
    .my-orders-order button{
        font-size: 10px;
    }
}
